.button {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border: none;
  border-radius: 0;
  padding: 1rem;
  background-color: #2b7ad9;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.button:hover {
  background-color: #4594ff;
  transition: border-color 50ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  cursor: pointer;
}

.disabled {
  pointer-events: none;
  background-color: #8c8c8c;
}
