.form {
  display: flex;
  width: 300px;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  max-width: 80%;
}

@media only screen and (max-width: 600px) {
  .form {
    max-width: 95%;
  }
}
