.input-wrapper {
  position: relative;
  display: flex;
  padding-top: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.input-wrapper label {
  position: absolute;
  top: 0;
  left: 1rem;
  text-transform: capitalize;
  z-index: 1;
}

.input-wrapper label:before {
  content: " ";
  position: absolute;
  width: calc(100% + 0.4rem);
  height: 2px;
  top: calc(50% - 1px);
  left: -0.2rem;
  z-index: -1;
  background-color: #fff;
}

.input-wrapper input {
  display: block;
  flex-grow: 1;
  padding: 1rem;
  border-radius: 3px;
  border: 1px solid #8c8c8c;
  font-size: 1.5rem;
  margin: 1px;
  transition: border-color 50ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  background-color: #fff;
}

.input-wrapper input:focus {
  border: 2px solid #4594ff;
  margin: 0;
  outline: none;
}
