table {
  width: 100%;
  table-layout: fixed;
  font-size: 1.1rem;
}

.table-header {
  background-color: rgba(255, 255, 255, 0.3);
}

.table-content {
  height: 300px;
  overflow-x: auto;
  margin-top: 0px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

th {
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
}

td {
  padding: 15px;
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  color: #fff;
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}

th:last-child,
td:last-child {
  width: 100px;
}

.action {
  padding: 0.5em;
  margin: 0.2em;
}

.action:hover {
  cursor: pointer;
  color: #2b7ad9;
}

/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
