.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.modal {
  width: 74%;
  min-height: 200px;
  margin-top: 150px;
  left: 13%;
  position: absolute;
  padding-bottom: 2em;

  background-color: transparent;
  animation: modalFadeIn 0.5s 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

@media only screen and (max-width: 640px) {
  .modal {
    width: 94%;
    left: 3%;
  }
}

.modal > div {
  opacity: 0;
  position: relative;
  animation: modalContentFadeIn 0.5s 0.5s cubic-bezier(0.165, 0.84, 0.44, 1)
    forwards;
}

.backdrop {
  position: absolute;
  content: " ";
  width: 100%;
  height: 100%;
  background: #3e3e3e;
  opacity: 0.9;
  z-index: -1;
  animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.title-row {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 1em;
  color: #282c34;
  font-size: 1.5rem;
}

.title-row span {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  font-size: 1.5rem;
}

.title-row span:hover {
  font-weight: 800;
  cursor: pointer;
}

.modal-svg {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.modal-svg rect {
  animation: sketchIn 5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

@keyframes fadeIn {
  0% {
    background: rgba(0, 0, 0, 0);
  }
  100% {
    background: rgba(0, 0, 0, 0.7);
  }
}

@keyframes modalFadeIn {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: white;
  }
}

@keyframes modalContentFadeIn {
  0% {
    opacity: 0;
    top: -20px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes sketchIn {
  0% {
    stroke: #fff;
    stroke-dasharray: 470;
  }
  100% {
    stroke-dasharray: 1000;
  }
}
